<% if @post.errors.any? %>
    <h2>The following errors prevented the article from saving:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @post do |i| %>
    <p>
        <%= i.label :title %><br>
        <%= i.text_field :title %>
    </p>
    <p>
        <%= i.label :description %><br>
        <%= i.text_area :description %>
    </p>
    <p>
        <%= i.submit %>
    </p>
<% end %>
