<h1><%= @post.title %></h1>
<p><%= @post.description %></p>
<p>User id: <%= @post.user_id %></p>
<hr>

<% if can? :update, @post %><%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-warning' %><% end %>
<% if can? :destroy, @post %><%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger' %><% end %>
<%= link_to 'Back', posts_path, :class => 'btn btn-primary' %>
<hr>

<h1>Comments:</h1>

<% @post.comments.each do |comment| %>
    <div class="alert">
        <p><strong><%= comment.user.email %></strong>: <%= comment.body %></p>
    </div>
<% end %>

<hr>

<h2>Comment</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        Body<br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.submit("Comment", {:class => 'btn btn-warning'}) %>
    </p>
<% end %>
